{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
    <div id="edit-comment-form-{{ comment.id }}" style="display: none;">
        <textarea id="edit-comment-content-{{ comment.id }}" rows="3">{{ comment.content }}</textarea>
        <button type="button" class="btn btn-success" onclick="saveComment('{{ comment.id }}')">Save</button>
        <button type="button" class="btn btn-secondary" onclick="cancelEdit('{{ comment.id }}')">Cancel</button>
    </div>
{% endblock %}