{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="modal fade" id="deleteModal-{{ object.id }}" tabindex="-1" aria-labelledby="deleteModalLabel-{{ object.id }}" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteModalLabel-{{ object.id }}">Confirm Delete</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <i class="fa-solid fa-triangle-exclamation"></i> Delete this {{ object_type }}? 
                    <br>
                    <strong>(This action is irreversible.)</strong>
                </div>
                
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                        <i class="fa-solid fa-x"></i> Cancel
                    </button>
                    <form method="POST" action="{% url delete_url object.id %}">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger">
                            <i class="fa-solid fa-trash-can"></i> Delete
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}