{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
    <h2><i class="fa-solid fa-pen-nib"></i> New post</h2>
    <form method="POST" action="{% url 'new_post' post.id %}">
        {% csrf_token %}
        {{ form|crispy }}

        <div>
            <label for="id_category">Category</label>
            <select id="id_category" class="form-control" name="category">
                {% for key, value in form.category.field.choices %}
                    <option value="{{ key }}" {% if form.category.value == key %}selected{% endif %}>
                        {{ value }}
                    </option>
                {% endfor %}
            </select>
        </div>
        <div>
            <button type="submit" class="btn loader-button">
                Publish Edits <i class="fa-solid fa-paper-plane"></i>
                </button>
    
            <button type="button" class="btn btn-danger" onclick="cancelEdit('{{ post.id }}')">Cancel</button>
        </div>
    </form>
{% endblock %}