{% extends "base.html" %}

{% block content %}
    <h2>My Profile — Updating...</h2>

    <form action="POST" enctype="multipart/form-data">
        {% csrf_token %}
        
        <!-- Display User Info Form -->
        <div class="mb-3">
            <h4><i class="fa-solid fa-address-card"></i><i class="fa-solid fa-eye-low-vision"></i> User Info (Private)</h4>
            {{ user_form | crispy }}
        </div>

        <!-- Display Profile Info Form -->
        <div class="mb-3">
            <h4><i class="fa-solid fa-eye"></i> About (Public)</h4>
            {{ profile_form | crispy }}
        </div>

        <button type="submit" class="btn btn-basic">Save changes</button>
        <!-- Cancel button that redirects to the profile detail page -->
        <a href="{% url 'profile_detail' user.id %}" class="btn btn-warning">Cancel</a>
    </form>

{% endblock content %}