{% extends "base.html" %}

{% load crispy_forms_tags %}
{% load static %}

{% block content %}
    <h2>Join our community</h2>

    <p>
        Already have an account? Then please <a href="{{ login_url }}">sign in here <i class="fa-solid fa-book"></i></a>.
    </p>

    {% url 'account_signup' as action_url %}
    <form method="post" action="{{ action_url }}">
        {% csrf_token %}
        {{ form | crispy }}

        {{ redirect_field }}
        
        <button type="submit" class="btn loader-button">Register <i class="fa-solid fa-worm"></i></button>
    </form>
{% endblock content %}
