{% extends "base.html" %}

{% block content %}
    <h2>Verify Your Email Address</h2>
    
    <p>We require that you verify ownership of your email address, {{ user.email }}, to confirm your identity.</p>

    <p>We have emailed you a verification link. Please click on the link inside that email to verify your accounts. </p>
        
    <p><strong>If you do not see the verification email in your inbox, check your promotions/spam/junk folder.</strong></p>

    <p>If you do not receive the email after a few minutes, feel free to contact us: <a href="{% url 'help' %}#contact">via our "<i class="fa-regular fa-circle-question"></i> Help" page</a></p>
    
    <p><strong>Note:</strong> you can still <a href="{{ email_url }}">change your email address</a>.</p>
{% endblock content %}
